openai
anthropic
google-genai
click
Pygments
gnureadline;platform_system=="Linux" or platform_system=="Darwin"
requests
bs4
beautifulsoup4
tiktoken
reportlab
trafilatura
llama-cpp-python
pytz
mlx
mlx-lm
starlette
uvicorn
python-multipart
textual
